.carousel,.item,.active{
    height:100vh;
  }
    

.social-item:hover{
        transform: translateX(-5px);
    }

:root{
  --bs-primary-rgb: 65, 13, 13;
  --bs-secondary-rgb: 250, 85, 35;
}


.testimony_body--show{
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.testimony_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.testimony_arrow{
  cursor: pointer;
}

    