.carousel,.item,.active{
    height:100vh;
  }

  .carousel .carousel-control-prev-icon {
    /* change fill="currentColor" to %23fff to make it white  */
      background-image: url("../images/leftarrow.svg");
    }
    
    .carousel .carousel-control-next-icon {
      /* change fill="currentColor" to %23fff to make it white  */
        background-image: url('../images/rightarrow.svg');
    }
    
    
    .carousel-control-next-icon, .carousel-control-prev-icon {
        /* Use to adjust size of icons */
        width: 4rem;
        height: 4rem;
    }

    .social-item:hover{
        transform: translateX(-5px);
    }
    