@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Raleway:wght@200;400&display=swap');


.wrapper{
    position: fixed;
    top: 30%;
    left: 98%;
    transform: translate(-50%, -50%);
}

.share{
    width: 58px;
    height: 58px;
    background-color: rgb(250, 85, 35);
    position: relative;
    cursor: pointer;
    transition: all 0.1s linear;
}

.share:hover{
    width: 70px;
}

#pageFooter{
    background-color: rgb(65, 13, 13);
}

h1{
    color: rgb(65, 13, 13)n;
}

#submit-button{
    background-color: rgb(250, 85, 35);
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

#propuesta{
    background-image: url(/grupo8.github.io/images/foto2@2x.png);
    height:max-content;
}